@model IEnumerable<GapWeb.Models.CitaModel>

@{
    ViewBag.Title = "Citas";
}

<h2>Citas</h2>


<p class="text-danger">@ViewBag.ErrorMessage</p>

<table class="table">
    <tr>
        <th>
          
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.IdCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.ActionLink("Cancelar Cita", "Delete", new {  id=item.IdCita, paciente = @ViewBag.Paciente })
        </td>
    </tr>
}
</table>

<div>
    @Html.ActionLink("Listado de Pacientes", "Return")
</div>
